<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="image-cover" style="background-image: url(assets/images/slides-bg1.jpg);">
      <div class="container">
        <div class="main-slider-content">
          <span class="sub-title">
            <i class='bx bx-hash'></i>
            Mantendo os Dentes Limpos
          </span>
          <h1>Odontológico Personalizado
            <span>Cuidado</span>
          </h1>
          <p>
            Como somos dentistas, queremos que todos gostem de ir ao dentista. Essa é uma das razões pelas quais
            praticamos a
            odontologia familiar - para que possamos incutir nas crianças o amor por ir ao dentista, tornando-o
            divertido para elas.
          </p>
          <div class="slider-btn">
            <a class="default-btn" href="#"> Marcação de Consultas </a>
            <div class="checkup-content">
              <div class="icon">
                <i class='bx bx-handicap'></i>
              </div>

              <span>
                <a href="#"> Faça Check-up Gratuito </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="image-cover" style="background-image: url(assets/images/slides-bg2.jpg);">
      <div class="container">
        <div class="main-slider-content">
          <span class="sub-title">
            <i class='bx bx-hash'></i>
            Mantendo os Dentes Limpos
          </span>
          <h1>Cuidados Excepcionais para a
            <span>Mulher</span>
          </h1>
          <p>
            O Exceptional Care for Women (ECW) oferece os melhores cuidados obstétricos e ginecológicos para mulheres de
            todas as idades.
            Desde exames de rotina e consultas pré-natais até o tratamento de distúrbios ginecológicos e obstétricos, a
            equipe de profissionais
            da Exceptional Care for Women traz uma abordagem personalizada e individualizada para cada paciente.
          </p>
          <div class="slider-btn">
            <a class="default-btn" href="#"> Marcação de Consultas </a>
            <div class="checkup-content">
              <div class="icon">
                <i class='bx bx-handicap'></i>
              </div>

              <span>
                <a href="#"> Faça Check-up Gratuito </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="image-cover" style="background-image: url(assets/images/slides-bg3.jpg);">
      <div class="container">
        <div class="main-slider-content">
          <span class="sub-title">
            <i class='bx bx-hash'></i>
            Mantendo os Dentes Limpos
          </span>
          <h1>Sua saúde é o nosso topo
            <span>Prioridade</span>
          </h1>
          <p>
            Entendemos as preocupações que as pessoas têm em meio à atual pandemia de Covid-19.
            Na DMC Primary Care, nossa equipe e provedores estão se esforçando para manter nossos
            consultórios limpos e seguros para nossos pacientes, para que eles possam obter os
            cuidados de saúde de que precisam em tempo hábil.
          </p>
          <div class="slider-btn">
            <a class="default-btn" href="#"> Marcação de Consultas </a>
            <div class="checkup-content">
              <div class="icon">
                <i class='bx bx-handicap'></i>
              </div>

              <span>
                <a href="#"> Faça Check-up Gratuito </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
