<div class="page-banner-area ptb-100 four" style="background-image: url(assets/images/page-title4.jpg);">
  <div class="container">
    <div class="page-banner-content">
      <h2>Service Details</h2>
      <div class="pages-list">
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          Detalhes do serviço
        </li>
      </div>
    </div>
  </div>
</div>

<div class="service-details-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="service-details-image">
          <img src="assets/images/services-details.jpg">
        </div>
        <div class="service-details-content">
          <h3>Obturação Dentária</h3>
          <p>
            A obturação do dente é um procedimento odontológico muitas vezes utilizado no tratamento de cáries, que tem
            como objetivo tapar perfurações que tenham sido formadas nos dentes devido ao excesso de microrganismos na
            boca e maus hábitos de higiene, causando dor e desconforto.
          </p>
        </div>
        <div class="row">
          <div class="col-6">
            <ul class="service-details-list">
              <li>
                <i class="bx bx-check"></i>
                Odontologia Geral
              </li>
              <li>
                <i class="bx bx-check"></i>
                Odontologia Estética
              </li>
              <li>
                <i class="bx bx-check"></i>
                Implantes Dentários
              </li>
            </ul>
          </div>
          <div class="col-6">
            <ul class="service-details-list">
              <li>
                <i class="bx bx-check"></i>
                Ortodontia
              </li>
              <li>
                <i class="bx bx-check"></i>
                Clareamento dos dentes
              </li>
              <li>
                <i class="bx bx-check"></i>
                Limpeza dos dentes
              </li>
            </ul>
          </div>
        </div>
        <p>
          A obturação é um procedimento relativamente simples e que deve ser feito no consultório do dentista sob
          anestesia local, sendo colocado um material conhecido como obturador no dente a ser tratado para evitar
          comprometimento da raiz do dente e surgimento de complicações, como a perda do dente, por exemplo.
        </p>
        <div class="service-details-overview">
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6">
              <div class="single-gallery">
                <img src="assets/images/gallery-1.jpg">
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
              <div class="single-gallery">
                <img src="assets/images/gallery-2.jpg">
              </div>
            </div>
          </div>
        </div>
        <p>
          A obturação é indicada pelo dentista após a observação do dente, ou seja, é verificado se o dente apresenta
          algum ponto escuro, se há dor e sensibilidade nesse dente e se podem ser identificadas cavidades. Em alguns
          casos, o médico pode indicar a realização de raio-X para verificar se houve comprometimento do nervo e se há
          sinais de mais dentes com cárie.
        </p>
        <div class="service-details-overview-content">
          <p>
            <span>Como cuidar durante a odontologia?</span>
            É um fato estabelecido há muito tempo que um leitor se distrairá com o conteúdo legível de uma página ao
            olhar para seu layout. O ponto do psum é que ele tem uma distribuição mais ou menos normal de letras, em vez
            de usar.
          </p>
          <p>
            <span>Quando visitar o seu médico?</span>
            É um fato estabelecido há muito tempo que um leitor se distrairá com o conteúdo legível de uma página ao
            olhar para seu layout. O ponto do psum é que ele tem uma distribuição mais ou menos normal de letras, em vez
            de usar.
          </p>
          <p>
            <span>Opções odontológicas:</span>
            É um fato estabelecido há muito tempo que um leitor se distrairá com o conteúdo legível de uma página ao
            olhar para seu layout. O ponto do psum é que ele tem uma distribuição mais ou menos normal de letras, em vez
            de usar.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <aside class="widget-area">
          <div class="widget widget_search">
            <form>
              <input type="search" placeholder="Search..." class="search-field">
              <button type="submit">
                <i class="bx bx-search-alt"></i>
              </button>
            </form>
          </div>
          <div class="widget widget_inba_posts_thumb">
            <h3 class="widget-title">Recent posts</h3>
            <article class="item">
              <a routerLink="/blog-details" class="thumb">
                <span role="img" class="fullimage cover"
                  style="background-image: url(assets/images/blog-1.jpg);"></span>
              </a>
              <div class="info">
                <span>Nov 27, 2022</span>
                <h4 class="title usmall">
                  <a routerLink="/blog-details">Nova tecnologia contribui para a operação odontológica</a>
                </h4>
              </div>
            </article>
            <article class="item">
              <a routerLink="/blog-details" class="thumb">
                <span role="img" class="fullimage cover"
                  style="background-image: url(assets/images/blog-2.jpg);"></span>
              </a>
              <div class="info">
                <span>Nov 26, 2022</span>
                <h4 class="title usmall">
                  <a routerLink="/blog-details">Atendimento odontológico regular torna seu sorriso mais brilhante</a>
                </h4>
              </div>
            </article>
            <article class="item">
              <a routerLink="/blog-details" class="thumb">
                <span role="img" class="fullimage cover"
                  style="background-image: url(assets/images/blog-3.jpg);"></span>
              </a>
              <div class="info">
                <span>Nov 25, 2022</span>
                <h4 class="title usmall">
                  <a routerLink="/blog-details">Higiene Dental para todas as idades para fazer sorrir</a>
                </h4>
              </div>
            </article>
          </div>
          <div class="widget widget_categories">
            <h3 class="widget-title">Categorias</h3>
            <ul>
              <li>
                <a routerLink="/services">Dentário</a>
              </li>
              <li>
                <a routerLink="/services">Médico</a>
              </li>
              <li>
                <a routerLink="/services">Dentista</a>
              </li>
              <li>
                <a routerLink="/services">Higiene</a>
              </li>
              <li>
                <a routerLink="/services">Hospital</a>
              </li>
              <li>
                <a routerLink="/services">Puericultura</a>
              </li>
            </ul>
          </div>
          <div class="widget widget_tag_cloud">
            <h3 class="widget-title">Tags populares</h3>
            <div class="tagcloud">
              <a routerLink="/services">Negócio</a>
              <a routerLink="/services">Privacidade</a>
              <a routerLink="/services">Tecnologia</a>
              <a routerLink="/services">Dicas</a>
              <a routerLink="/services">Não categorizado</a>
            </div>
          </div>
          <div class="widget widget_instagram">
            <h3 class="widget-title">Galeria</h3>
            <ul>
              <li>
                <div class="box">
                  <img src="assets/images/gallery-1.jpg">
                  <i class="bx bxl-instagram"></i>
                  <a href="#" class="link-btn"></a>
                </div>
              </li>
              <li>
                <div class="box">
                  <img src="assets/images/gallery-2.jpg">
                  <i class="bx bxl-instagram"></i>
                  <a href="#" class="link-btn"></a>
                </div>
              </li>
              <li>
                <div class="box">
                  <img src="assets/images/gallery-3.jpg">
                  <i class="bx bxl-instagram"></i>
                  <a href="#" class="link-btn"></a>
                </div>
              </li>
              <li>
                <div class="box">
                  <img src="assets/images/gallery-4.jpg">
                  <i class="bx bxl-instagram"></i>
                  <a href="#" class="link-btn"></a>
                </div>
              </li>
              <li>
                <div class="box">
                  <img src="assets/images/gallery-5.jpg">
                  <i class="bx bxl-instagram"></i>
                  <a href="#" class="link-btn"></a>
                </div>
              </li>
              <li>
                <div class="box">
                  <img src="assets/images/gallery-6.jpg">
                  <i class="bx bxl-instagram"></i>
                  <a href="#" class="link-btn"></a>
                </div>
              </li>
              <li>
                <div class="box">
                  <img src="assets/images/gallery-7.jpg">
                  <i class="bx bxl-instagram"></i>
                  <a href="#" class="link-btn"></a>
                </div>
              </li>
              <li>
                <div class="box">
                  <img src="assets/images/gallery-8.jpg">
                  <i class="bx bxl-instagram"></i>
                  <a href="#" class="link-btn"></a>
                </div>
              </li>
              <li>
                <div class="box">
                  <img src="assets/images/gallery-9.jpg">
                  <i class="bx bxl-instagram"></i>
                  <a href="#" class="link-btn"></a>
                </div>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
