<app-slider></app-slider>

<div class="features-area pb-75">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-features bg-f57e57">
          <div class="content">
            <div class="icon">
              <i class="fa-solid fa-wheelchair-move"></i>
            </div>
            <h3>
              <a routerLink="/service-details"> Nova tecnologia </a>
            </h3>
            <p>Usando tecnologias VR e AR, como o Microsoft Hololens,
              os cirurgiões podem realizar cirurgias usando as duas mãos com mais precisão.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-features bg-f57e57">
          <div class="content">
            <div class="icon">
              <i class="fa-solid fa-heart-circle-check"></i>
            </div>
            <h3>
              <a routerLink="/service-details"> Aceitar seguro </a>
            </h3>
            <p>Esse desejo de melhorar a saúde por meio da inovação ainda nos impulsiona hoje.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-features bg-f57e57">
          <div class="content">
            <div class="icon">
              <i class="fa-solid fa-user-doctor"></i>
            </div>
            <h3>
              <a routerLink="/service-details"> Dentista Certificado</a>
            </h3>
            <p>O grau profissional mais comum em odontologia é o DDS (Doutor em Cirurgia Dentária).
              Em vez disso, algumas universidades oferecem um DMD (Doutor em Medicina em Odontologia).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="services-area pb-75">
  <div class="container">
    <div class="section-title-warp">
      <span class="sub-title">
        <i class='bx bx-hash'></i>
        Nossos melhores serviços odontológicos
      </span>
      <h2>Desfrute de atendimento especializado por meio de precisão, arte e experiência</h2>
      <a routerLink="/services" class="default-btn">Ver tudo</a>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services">
          <div class="services-image">
            <a routerLink="/service-details" class="d-block">
              <img src="assets/images/services-1.jpg">
            </a>
          </div>
          <div class="services-content">
            <h3>
              <a routerLink="/invisalign"> Invisalign </a>
            </h3>
            <p>Diferente de outros alinhadores, o sistema de aparelho Invisalign tem muitos anos de pesquisa e
              tecnologia incorporada. Isso permite que praticamente todos os problemas ortodônticos possam ser tratados.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services">
          <div class="services-image">
            <a routerLink="/service-details" class="d-block">
              <img src="assets/images/services-2.jpg">
            </a>
          </div>
          <div class="services-content">
            <h3>
              <a routerLink="/service-details">Odontologia Estética</a>
            </h3>
            <p>A odontologia estética é o ramo da odontologia que se concentra em melhorar a aparência do seu sorriso.
              Os tratamentos dentários cosméticos comuns incluem clareamento dos dentes.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services">
          <div class="services-image">
            <a routerLink="/service-details" class="d-block">
              <img src="assets/images/services-3.jpg">
            </a>
          </div>
          <div class="services-content">
            <h3>
              <a routerLink="/service-details">Implantes Dentários</a>
            </h3>
            <p>O implante dentário é uma raiz de dente artificial feita de titânio de grau médico,
              parece um parafuso e é muito forte, mas também leve.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services">
          <div class="services-image">
            <a routerLink="/service-details" class="d-block">
              <img src="assets/images/services-4.jpg">
            </a>
          </div>
          <div class="services-content">
            <h3>
              <a routerLink="/service-details">Ortodontia</a>
            </h3>
            <p>A Ortodontia é uma especialidade da medicina dentária que aborda o diagnóstico, prevenção,
              tratamento e correção de dentes e maxilares mal posicionados e padrões de mordida desalinhados.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services">
          <div class="services-image">
            <a routerLink="/service-details" class="d-block">
              <img src="assets/images/services-5.jpg">
            </a>
          </div>
          <div class="services-content">
            <h3>
              <a routerLink="/service-details">Clareamento dos dentes</a>
            </h3>
            <p>O clareamento dental refere-se a uma variedade de processos que visam fazer com que os dentes naturais de
              alguém pareçam mais brilhantes e brancos. Os métodos de clareamento dental incluem lixar manchas,
              clareamento,
              luz ultravioleta (UV).
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services">
          <div class="services-image">
            <a routerLink="/service-details" class="d-block">
              <img src="assets/images/services-6.jpg">
            </a>
          </div>
          <div class="services-content">
            <h3>
              <a routerLink="/service-details">Limpeza dos dentes</a>
            </h3>
            <p>A limpeza dos dentes é realizada em um consultório odontológico para remover a placa bacteriana e o
              tártaro dos dentes.
              A placa é uma película pegajosa contendo bactérias que se formam na superfície do dente. A limpeza dos
              dentes faz parte
              da higiene bucal.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-call-us></app-call-us>

<app-about-part></app-about-part>

<div class="core-features-area pt-100 pb-75 bg-eef9ff">
  <div class="container">
    <div class="section-title-warp">
      <span class="sub-title">
        <i class='bx bx-hash'></i>
        Especialidade e Nossas Características
      </span>
      <h2>Recursos que você vai nos amar</h2>
      <a class="default-btn" routerLink="/services">Ver tudo</a>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="single-core-features">
          <div class="icon">
            <i class="fa-solid fa-staff-snake"></i>
          </div>
          <h3><a routerLink="/service-details"> Suportes de qualidade</a></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="single-core-features">
          <div class="icon">
            <i class='bx bxs-file'></i>
          </div>
          <h3><a routerLink="/service-details"> Dentistas certificados </a></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="single-core-features">
          <div class="icon">
            <i class="fa-regular fa-gem"></i>
          </div>
          <h3><a routerLink="/service-details"> Experiência </a></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="single-core-features">
          <div class="icon">
            <i class="fa-solid fa-bed-pulse"></i>
          </div>
          <h3><a routerLink="/service-details"> Atendimento ao paciente </a></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-denticts-part></app-denticts-part>

<app-testimonial-part></app-testimonial-part>

<!--<div class="blog-area pt-100 pb-75">
  <div class="container">
    <div class="section-title-warp">
      <span class="sub-title">
        <i class='bx bx-hash'></i>
        Update News and Blogs
      </span>
      <h2>Stay Updated with Our Latest News and Blog</h2>
      <a class="default-btn" routerLink="/blog">Ver tudo</a>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-blog">
          <div class="blog-image">
            <a routerLink="/blog-details" class="d-block">
              <img src="assets/images/blog-1.jpg">
            </a>
            <div class="tag">
              <a routerLink="/blog">Technology</a>
            </div>
          </div>
          <div class="blog-content">
            <h3>
              <a routerLink="/blog-details"> Nova tecnologia contribui para a operação odontológica </a>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
            <a routerLink="/blog-details" class="blog-btn">Leia mais</a>
            <ul class="entry-meta">
              <li>
                <i class='bx bxs-user'></i>
                <span>
                  By
                  <a routerLink="/blog">Daisy Gabriela</a>
                </span>
              </li>
              <li>
                <i class='bx bxs-comment'></i>
                2 Comments
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-blog">
          <div class="blog-image">
            <a routerLink="/blog-details" class="d-block">
              <img src="assets/images/blog-2.jpg">
            </a>
            <div class="tag">
              <a routerLink="/blog">Dental</a>
            </div>
          </div>
          <div class="blog-content">
            <h3>
              <a routerLink="/blog-details"> Atendimento odontológico regular torna seu sorriso mais brilhante </a>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
            <a routerLink="/blog-details" class="blog-btn">Leia mais</a>
            <ul class="entry-meta">
              <li>
                <i class='bx bxs-user'></i>
                <span>
                  By
                  <a routerLink="/blog">Ronnie Aaron</a>
                </span>
              </li>
              <li>
                <i class='bx bxs-comment'></i>
                2 Comments
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-blog">
          <div class="blog-image">
            <a routerLink="/blog-details" class="d-block">
              <img src="assets/images/blog-3.jpg">
            </a>
            <div class="tag">
              <a routerLink="/blog">Hygiene</a>
            </div>
          </div>
          <div class="blog-content">
            <h3>
              <a routerLink="/blog-details"> Higiene Dental para todas as idades para fazer sorrir </a>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
            <a routerLink="/blog-details" class="blog-btn">Read More</a>
            <ul class="entry-meta">
              <li>
                <i class='bx bxs-user'></i>
                <span>
                  By
                  <a routerLink="/blog">Babatunde Jon</a>
                </span>
              </li>
              <li>
                <i class='bx bxs-comment'></i>
                2 Comments
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
